# 内网 Open WebUI：复制为解压目录下的 .env
WEBUI_NAME=澜沧江
WEBUI_SECRET_KEY=d351ffb6040b4283b995c2ded9f495e6
ENABLE_PERSISTENT_CONFIG=False

OPENAI_API_BASE_URL=http://10.64.201.48/api/blade-ai-web/openai-gateway/v1
OPENAI_API_KEY=f0008e447dbac988283a28a838f38610
ENABLE_OPENAI_API=True
ENABLE_OLLAMA_API=False

RAG_EMBEDDING_ENGINE=openai
RAG_EMBEDDING_MODEL=Embedding
RAG_OPENAI_API_BASE_URL=http://10.64.201.48/api/blade-ai-web/openai-gateway/v1
RAG_OPENAI_API_KEY=f0008e447dbac988283a28a838f38610

AUDIO_STT_ENGINE=openai
AUDIO_STT_MODEL=Wishper
AUDIO_STT_OPENAI_API_BASE_URL=http://10.64.201.48/api/blade-ai-web/openai-gateway/v1
AUDIO_STT_OPENAI_API_KEY=f0008e447dbac988283a28a838f38610

ENABLE_FOLLOW_UP_GENERATION=False
ENABLE_WEB_SEARCH=False
ENABLE_CODE_INTERPRETER=False
ENABLE_IMAGE_GENERATION=False
USER_PERMISSIONS_WORKSPACE_TOOLS_ACCESS=False

HF_HUB_OFFLINE=1
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false

PORT=3000
HOST=0.0.0.0
